
*.pyc
GraphicUserInterface/.DS_Store
.DS_Store
/build/build/
/build/dist/
/Result/
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/uniBrain-Speller.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
